*.o
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/bin/evaluate-lader
src/bin/label-ranking
src/bin/lader
src/bin/train-lader
config.h.in
stamp-h1
test-lader
