*.o
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
depcomp
libtool
ltmain.sh
m4
missing
evaluate-lader
label-ranking
lader
train-lader
config.h.in
stamp-h1
test-lader
